<footer>
    <div class="first-footer-container">
        <h4>Subscribe to Our Newsletter</h4>
        <strong>Enter Your Email !</strong>
        <form action="">
          <input type="text" placeholder="Email" required>
          <button type="submit">Subscribe</button>
        </form>
    </div>
    <div class="second-footer-container">
      <a href="/contact" class="contact-us"> Contact us</a>
      <div class="social-media">
        <a href="https://wa.me/08097207972" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32">
          <path fill="#25D366" d="M16 0C7.164 0 0 7.164 0 16c0 2.847.744 5.518 2.048 7.852L0 32l8.374-2.063C10.559 30.688 13.227 31.7 16 31.7 24.836 31.7 32 24.536 32 16S24.836 0 16 0zm10.845 22.6c-.437 1.235-2.146 2.264-3.512 2.6-.943.238-2.178.43-6.336-1.388-5.338-2.182-8.693-7.563-8.964-7.916-.276-.354-2.143-2.847-2.143-5.424s1.266-3.835 1.73-4.342c.465-.508 1.017-.635 1.358-.635.336 0 .67.007.964.016.3.01.741-.116 1.152.884.417 1.027 1.413 3.497 1.541 3.744.13.246.13.428.024.684-.11.26-.16.428-.32.676-.161.248-.34.518-.478.693-.187.232-.38.387-.23.676.16.303.714 1.185 1.533 1.909 1.057.936 1.875 1.221 2.143 1.357.268.136.43.116.586-.067.161-.188.673-.786.854-1.054.186-.27.374-.238.63-.143.252.094 1.6.754 1.873.889.277.13.46.188.52.3.063.115.063.68-.144 1.353z" />
        </svg>
        </a>
        <a href="https://x.com/actually_blogg?t=H-HQogWGuGuthUfxBoSlow&s=09"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32">
          <path fill="#1DA1F2" d="M32 7.075a13.14 13.14 0 0 1-3.769 1.031A6.584 6.584 0 0 0 31.116 4.6a13.173 13.173 0 0 1-4.169 1.594 6.56 6.56 0 0 0-11.173 5.979A18.634 18.634 0 0 1 2.225 4.151a6.564 6.564 0 0 0 2.031 8.758 6.533 6.533 0 0 1-2.975-.822v.083a6.564 6.564 0 0 0 5.262 6.437 6.574 6.574 0 0 1-2.969.113 6.57 6.57 0 0 0 6.131 4.561 13.165 13.165 0 0 1-8.149 2.806c-.531 0-1.052-.03-1.567-.09a18.575 18.575 0 0 0 10.077 2.952c12.07 0 18.677-10.003 18.677-18.676 0-.283-.006-.566-.02-.847A13.344 13.344 0 0 0 32 7.075z" />
        </svg>
        </a>
        <a href="https://www.instagram.com/actuallyblog?igsh=cHB6c2w0dzRzdW9i"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32">
          <radialGradient id="gradient" cx="0.5" cy="0.5" r="0.5">
            <stop offset="0%" stop-color="#FFD200" />
            <stop offset="50%" stop-color="#F76700" />
            <stop offset="100%" stop-color="#C124A4" />
          </radialGradient>
          <path fill="url(#gradient)" d="M16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0zm0 4.8c3.01 0 3.333.011 4.501.065 1.168.054 1.963.241 2.712.516a5.583 5.583 0 0 1 2.03 1.285 5.583 5.583 0 0 1 1.285 2.03c.276.749.462 1.544.516 2.712.054 1.168.065 1.491.065 4.501s-.011 3.333-.065 4.501c-.054 1.168-.241 1.963-.516 2.712a5.583 5.583 0 0 1-1.285 2.03 5.583 5.583 0 0 1-2.03 1.285c-.749.276-1.544.462-2.712.516-1.168.054-1.491.065-4.501.065s-3.333-.011-4.501-.065c-1.168-.054-1.963-.241-2.712-.516a5.583 5.583 0 0 1-2.03-1.285 5.583 5.583 0 0 1-1.285-2.03c-.276-.749-.462-1.544-.516-2.712C4.811 19.333 4.8 19.01 4.8 16s.011-3.333.065-4.501c.054-1.168.241-1.963.516-2.712a5.583 5.583 0 0 1 1.285-2.03 5.583 5.583 0 0 1 2.03-1.285c.749-.276 1.544-.462 2.712-.516C12.667 4.811 12.99 4.8 16 4.8zM16 8.2a7.8 7.8 0 1 0 0 15.6 7.8 7.8 0 0 0 0-15.6zm0 2.6a5.2 5.2 0 1 1 0 10.4 5.2 5.2 0 0 1 0-10.4zM21.15 6.7a1.35 1.35 0 1 1 0 2.7 1.35 1.35 0 0 1 0-2.7z" />
        </svg>
        </a>
      </div>
      <% const year = new Date().getFullYear(); %>
      <h5>&copy; <span id="year"><%= year %></span> Actually. All rights reserved.</h5>
    </div>
</footer>
  <script src="../../js/index.js" type="module" charset="UTF-8"></script>
  <script src="../../app.js" charset="UTF-8"></script>
</body>
</html>