<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actually.com</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="image-container">
        <img class="logo" src="../assets/images/ACTUALLY LOGO.svg" alt="actually-logo" />
        <h1>Actually.com</h1>
      </div>
      <button class="hamburger-menu" aria-label="Toggle menu">
        ☰
      </button>
      <nav class="nav-links">
        <a href="/" class="header-link btn">Home</a>
        <a href="/tech" class="header-link btn">Tech</a>
        <a href="/create-post" class="header-link btn">Write Post</a>
      </nav>
      <form class="search-form" action="/search" method="get">
        <input class="search-field" name="q" type="text" placeholder="Search..." required />
        <button class="search-button" type="submit">
          <img src="../assets/images/search.png" alt="search-icon" />
        </button>
      </form>
    </header>    
    